html {
  font-family: "IBM Plex Sans", sans-serif;
}

.logo {
  max-width: 200px;
}

.search {
  background-image: url("../images/search.svg");
  background-position: left;
  background-size: 20px;
  background-color: #fff;
}

input:not([type="checkbox"]),
input:not([type="radio"]) {
  padding-left: 1rem;
}

header {
  background-color: #ddd;
}

.medium-grey {
  background-color: #efefef;
}

.white {
  background-color: #fff;
}

table {
  min-width: 50em;
}

@media only screen and (min-width: 60em) {

  .table-wrapper {
    overflow: visible
  }

}
